<div cdkDrag [cdkDragData]="[cardObject]" [cdkDragPreviewContainer]="'global'"
     (cdkDragStarted)="onDragStart({$event : $event})" [cdkDragDisabled]="dragDisabled()">
  <div [class]="emptyClass"></div>
  <div #card *ngIf="cardObject" [class]="divClass" [id]="cardObject.id" (dblclick)="sendToFinalStack()" >
    <img  alt="card" [src]="cardObject.srcCasing" [class]="getImgClass('front')" (load)="onCardLoad()"/>
    <img alt="back" [src]="cardObject.srcBack" [class]="getImgClass('back')"/>
  </div>
  <app-card *ngIf="nextCard" [cardObject]="nextCard" [index]="index+1"></app-card>

</div>
