@for $i from 0 through 50 {
  .card-#{$i} {
    position: absolute;
    top: calc(2vmax * $i);

    &:not(.bottom) {
      top: 0
    }
  }
}

img {
  -webkit-user-drag: none;
  width: var(--card-width);
  height: var(--card-height)
}

.cdk-drag-placeholder {
  display: none;
}
