<div class="authMain">
  <div *ngIf="user; else loginBlock" class="logged">
    <p>Hello, user {{user.email}}!</p>
    <button mat-raised-button type="submit" (click)="handleSignOut()" [disabled]="loading">
      {{loading ? "Signing out" : "SignOut"}}
    </button>
  </div>
  <label for="background">Background color</label>
  <input id="background" matInput type="color" (input)="changeBackgroundColor()" [(ngModel)]="backgroundColor"/>
  <ng-template #loginBlock>
    <div [class]="'auth '+stage">
      <div class="header">
        <button mat-raised-button (click)="changeStage('register')" [class.chosen]="stage==='register'">Register
        </button>
        <button mat-raised-button (click)="changeStage('login')" [class.chosen]="stage==='login'">Login</button>
      </div>
      <div class="credentials">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput #email type="email"/>
        </mat-form-field>
        <!--<mat-form-field *ngIf="stage==='login'">
          <mat-label>Login</mat-label>
          <input matInput #login type="text"/>
        </mat-form-field>-->
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput #password type="password"/>
        </mat-form-field>
        <button mat-raised-button *ngIf="stage==='login'" type="submit"
                (click)="handleSignIn(email.value,password.value)"
                [disabled]="loading">
          {{loading ? "Loading" : "SignIn"}}
        </button>
        <button mat-raised-button *ngIf="stage==='register'" type="submit"
                (click)="handleSignUp(email.value,password.value)"
                [disabled]="loading">
          {{loading ? "Loading" : "SignUp"}}
        </button>

      </div>
    </div>

  </ng-template>
  <div style="text-align: center">
    or
  </div>
  <button mat-raised-button class="play" (click)="playWithoutLogin()">
    Play<span *ngIf="!user"> without login</span>!
  </button>
  <button mat-raised-button class="close" *ngIf="user" (click)="close()">X</button>
  <div *ngIf="downloadStarts" class="progress">
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    <span class="percentage">
      {{progress.toFixed(0)}}%
    </span>
    <img hidden *ngFor="let img of images" [src]="img" alt="card" (load)="setProgress()"/>
  </div>
</div>
