
.auth {
  display: flex;
  flex-direction: column;
  margin: 1vh auto;
  align-items: stretch;

  & .logged, .header {
    flex-direction: row;
  }

  &.login .hidden {
    opacity: 0;
  }

  & .credentials {
    margin-top:5px;
    display: flex;
    flex-direction: column;
  }

  & .header {
    display: flex;
    align-items: stretch;

    & > * {
      position: relative;
      flex: 50%;
      text-align: center;
      justify-content: center;

      &:first-child {
        border-right: none;
      }

      &:hover {
        cursor: pointer;
      }

    }
  }
}

.authMain {
  position: relative;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
}
.play{
  width: 100%;
}
