<div *ngIf="user; else loginBlock" class="logged">
  <p>Hello, user {{user.email}}!</p>
  <button type="submit" (click)="handleSignOut()" [disabled]="loading">
    {{loading ? "Signing out" : "SignOut"}}
  </button>
</div>
<ng-template #loginBlock>
  <div [class]="'auth '+stage">
    <div class="header">
      <div (click)="changeStage('register')" [class.chosen]="stage==='register'">Register</div>
      <div (click)="changeStage('login')" [class.chosen]="stage==='login'">Login</div>
    </div>
    <div class="credentials">
      <input #email type="email" placeholder="your email"/>
      <input *ngIf="stage==='login'" #login type="text" placeholder="your login"/>
      <input #password type="password" placeholder="your password"/>
      <button *ngIf="stage==='login'" type="submit" (click)="handleLogin(email.value,password.value)"
              [disabled]="loading">
        {{loading ? "Loading" : "SignIn"}}
      </button>
      <button *ngIf="stage==='register'" type="submit" (click)="handleSignUp(email.value,password.value)"
              [disabled]="loading">
        {{loading ? "Loading" : "SignUp"}}
      </button>
    </div>
  </div>
</ng-template>

