.stack {

  min-width: var(--card-width);
  min-height: var(--card-height);
  border: 0;
  position: relative;

  &.empty {
    border: 2px solid black;
    box-sizing: border-box;
  }

  &.final-1 {
    margin-left: calc(var(--horizontal-margin)*5);
  }
}


@for $i from 1 through 20 {
  .length-#{$i}:not([class^="final-"]) {
    height: calc(var(--card-height) + $i * (var(--vertical-margin) *2));
  }
}

ng-template[cdkDragPlaceholder] {
  opacity: 0;
}
