<div [id]="stackId" [class]="getClass()" (click)="click($event)">
  <div class="empty-border"></div>
  <div>
    <div *ngFor="let num of maxNumberOfCards" class="empty-{{num}} {{stackId}} {{gameMode?cardsLeft(num):''}}"></div>
  </div>
  <div *ngFor="let card of stackArr; index as i">
    <app-card [cardObject]="card" [index]="i" [canDrag]="card.canDrag()"></app-card>
  </div>

</div>
<!-- cdkDropList [id]="stackId" [cdkDropListData]="stackId" [cdkDropListConnectedTo]="whereCanDrop()"
     (cdkDropListDropped)="onDrop($event)" cdkDropListSortingDisabled [class]="getClass()" (click)="click($event)" -->
