.stack {
  min-width: var(--card-width);
  min-height: var(--card-height);
  position: relative;
  &.final-1 {
    margin-left: calc(var(--horizontal-margin) * 1 + var(--card-width));
  }
}

//@for $i from 1 through 20 {
//  .length-#{$i}:not([class^="final-"]) {
//    height: calc(var(--card-height) + ($i - 1) * 2 * (var(--vertical-margin)));
//  }
//}

.empty-border {
  position: absolute;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  width: var(--card-width);
  height: var(--card-height);
}


ng-template[cdkDragPlaceholder] {
  opacity: 0;
}
