.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
}

.top, .bottom {
  display: flex;
  flex-direction: row;
  column-gap: calc(var(--horizontal-margin)*1);
}
.top{
  margin-bottom: 2vmax;
}
.buttons{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 5px 0;
  flex-wrap: wrap;
  gap: 5px;
}
.user-info{
  display: flex;
  column-gap:clamp(5px, 1vh, 20px);
  align-items: center;
}
