<div class="main">
  <p>Version:{{version}}</p>
  <p>Time:{{timerStr}}</p>
  <div class="buttons">
    <div class="user-info" *ngIf="user; else login">
      <span>
        Hello, {{user.email}}!
      </span>
      <button mat-raised-button type="submit" (click)="signOut()" [disabled]="loading">
        {{loading ? "Signing out" : "SignOut"}}
      </button>
    </div>
    <ng-template #login>
      <button mat-raised-button type="button" (click)="openDialog()">Login</button>
    </ng-template>
    <button mat-raised-button type="button" (click)="startNewGame()">Start New Game</button>
  </div>
  <div class="top">
    <app-stack [stackId]="'hiddenStore'"></app-stack>
    <app-stack [stackId]="'shownStore'"></app-stack>
    <app-stack *ngFor="let number of [1,2,3,4]" [stackId]="'final-'+number"></app-stack>
  </div>
  <div class="bottom">
    <app-stack *ngFor="let number of [1,2,3,4,5,6,7]" [stackId]="'bottom-'+number"></app-stack>
  </div>
</div>
