body {
  background-color: green;
  margin: 1vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
#loginDialog{
  padding: 2.5vh 2.5vw;
}
#victoryDialog{
  aspect-ratio: 1/1;
}
:root {
  --card-height: 20vmin;
  --card-width: calc(20vmin / 1.5);
  --horizontal-margin:1vw;
  --vertical-margin:1vh
}
