/* You can add global styles to this file, and also import other style files */
body {
  background-color: green;
  margin: 1vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --card-height: 20vmin;
  --card-width: calc(20vmin / 1.5);
  --horizontal-margin:1vw;
  --vertical-margin:1vh
}
